<html>
<body>
<div>
    Dear owner,<br>
</div>
<div>
    We have detected the typo of names on this SharePoint.<br>
    <a href="http://intranet.mycom-int.com/Projectmanagement/default.aspx">http://intranet.mycom-int.com/Projectmanagement/default.aspx</a><br><br>
    This name mismatch will fail the Bonita to send the emails to corresponding PM/SE.<br>
    Please correct the typos.<br><br>

   <b>Here are the spelling error names which fail to get email from server:</b><br>
    [Customer:SE/PM Name]<br>
   <#list notFondList as thing>
       ${thing}<br>
   </#list>
</div>
<br>
   Best regards,<br>
   Dev Team
</body>
</html>
