<html>
<body>
<div>
    Dear PCIS Coordinator,<br><br>
</div>
<div>
    This is PCIS ${profile} system. <br>
    I'm responsible for extracting data from the following link.<br>
    <a href="http://intranet.mycom-int.com/Projectmanagement/default.aspx">http://intranet.mycom-int.com/Projectmanagement/default.aspx</a><br><br>

    Now is <b>${today}</b> and I show my contacts status below.<br>
    <br>
    Wish you a good day.<br><br>

    <b>Here is SharePoint contact:</b><br>
   ${contacts}<br><br>
</div>
<br>
Best regards,<br>
PCIS System
</body>
</html>
